.clients__section {
  text-align: center;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: transform var(--transition-time-and-func);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

.clients__icon {
    border: 1px solid transparent;
  border-radius: 4px;
  transition: border var(--transition-time-and-func);
    .clients__link:hover &,
    .clients__link:focus & {
      border: 2px solid var(--accent-color);
    }
 
}