.hero {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark-bg-color);
}

.hero__title {
  margin-bottom: 16px;
  padding-right: 25px;
  font-size: 64px;
  font-weight: 600;
  line-height: calc(76 / 64);
  color: var(--primary-title-color);
}

.hero__subtitle {
  margin-bottom: 32px;
}

.hero__btn {
  width: 128px;
  height: 52px;
}
