.section {
    padding-top: 40px;

}

.section--light{
    background-color: #fff;
    padding-bottom: 40px;
}

.section--dark {
    background-color: var(--dark-bg-color);
    padding-bottom: 40px;
}